Help parsing nested jwt, jws+jwe

First, greatly appreciate you taking your time to write this module.

I am working with a JWT generated from an SSO product called CAS.  I can't seem to decrypt the payload correctly and would very much appreciate your advice on using your library to do so.  The example of parsing and decrypting in java is given on their website: 
 https://apereo.github.io/cas/development/installation/Configure-ServiceTicket-JWT.html#jwt-validation---aes

cas.authn.token.crypto.signing.keySize=512
cas.authn.token.crypto.encryption.keySize=256
cas.authn.token.crypto.alg=AES

I think it's trying to be parsed as json but was built with compact serialization that not being revered first.  I keep getting:

  File "/usr/local/Cellar/python/3.7.1/Frameworks/Python.framework/Versions/3.7/lib/python3.7/json/decoder.py", line 355, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

import base64
from jwcrypto import jwk, jwe, jws, jwt
from jwcrypto.common import json_encode, json_decode
token = 'eyJhbGciOiJIUzUxMiJ9.ZXlKNm...........'
payloadBytes = b'eyJ6aXA..........'
signKey = jwk.JWK(kty='oct', k=signkeyStr)
encKey = jwk.JWK(kty='oct', k=enckeyStr)

E = jwe.JWE()
E.deserialize(payloadBytes)
E.decrypt(encKey)
raw_payload = E.payload


Advice?



what is `token` and what is `payloadBytes` ?
Can you please generate a throw away key and provide a full JWT and keys ?

Looking at the Java example you are trying to decrypt a JWS token, but I am not sure because you are not showing the full token above as you cut all inputs.

I see that the `token` is a JWS, as there is a complete header in your example and it decodes to  `{"alg":"HS512"}`, the lack of typ:JWT means it may or may not be a JWT.
There isn't enough of `payloadBytes` to figure out what that is ...

If this is an actual JWT then you may want to look at the last example here:
https://jwcrypto.readthedocs.io/en/latest/jwt.html#examples

If instead they just use a JWE wrapped in a JWS without creating a real JWT, then you need to use a JWS operation first to verify the signature, extract the payload and then pass that payload to a JWE operation.

so reading the CAS example again it seem they suggest you manually unwrap this token with something like:
```
signKey = jwk.JWK(kty='oct', k=signkeyStr)
encKey = jwk.JWK(kty='oct', k=enckeyStr)

jwsToken = JWS()
jwsToken.deserialize(token, key=signKey)

jweToken = JWE()
jweToken.deserialize(jwsToken.payload, key=encKey)

payload = jweToken.payload
```

Thank you very much for taking the time to reply.  Sorry for the delay, it took me a bit to set aside time to regenerate with random values for keys and such.  My entire code with hardcoded values for now:

from jwcrypto import jwk, jwe, jws, jwt
from jwcrypto.common import json_encode
import base64

token = 'eyJhbGciOiJIUzUxMiJ9.ZXlKNmFYQWlPaUpFUlVZaUxDSmhiR2NpT2lKa2FYSWlMQ0psYm1NaU9pSkJNVEk0UTBKRExVaFRNalUySW4wLi5YS2NvZHBTQU5hUEVpZzdXSDBxUEtnLlF3NFVDOGhCUHNHTlpxelVLUGtjY1AyUHV1Q0NQWDhGWVBzZW5idFJvVmxtdmlsZzdvVTlRTnpBdWFRLURrdVVjU3YzajB1dVFkVVNXbU95dnZGQThmalpERmNEVUp4VXFZQXpIaV9SRUdWNExIZWNsd2xSVWVCV3NfZ3ZVOUNwVEpYSTlCb0F3bENoaktHRUpBaGlDYno5RGZYaEZ0Ui1JOTNieHNhbUh6QzV0TzZJYWtiNUI3ZUs3eDg2d3JpV0lGU0E0UldfRzh4X2tuVl9jZXJpVzZUbzQ5UkptSXMxUjFqUklKUlEwQlVOeVExc3E3UWpiQl9JVUdRQWQwWXhnWHNwcWxUQkV1REpFVkF2MV9sV3VIZzJvMTY2NzNiMjcxLXRXSlFkeE5PcWM0aDNLNXk5Wkx6QVg4TERuZkp5MUdVOFllU1N0Y1h5TmQydGxjVjQ1V2Y4U2E1eXg1WGU5c0VLQ3pSeThJT2tHdGZSNXA5V2M5ZndrN0dYclN1anNkcXVRTGdqcXcxeTJGWTI5R0hyUFdsUzFybDltTUVnd3NoUk1wZl9mMEsweWRVT29XZ0RmSUlxMXp3TEFVa1lXNFZXelZaN19KZmNFekhYYmE0NVU1bThUQ3l2TnUxM0ZrTkhMQVV0TnV1cWI1RlQ5X3pxdVR4N3lpWHlaRkU2ak9sc1QxQXV3Xy1FUTdXWW1EdzUxQzZsN01qUEstYTRYOFlVclRsb2QyWWtmTkhwdXJPdmhhYXZwNHQxZU42aWdDNi1JeVJqbGc1clRUbHhsZ1ZjUGI3eURlWFVQTThSVGVQdFZVUHJMXzdsOHdoUGN1X3NOdHQ0TkIyeEc5QW42V25WSU5VTnBxaVlGN1ktWUx5TzA1ZkNOR2lnVDlKcmVpNzFHdkk0NnJod0NXT0xQb01MLWpCZndTdFpjMm5VbVBFZnpzemY2cVlST2JkTURJbng0aEpXdTA0Z2tjWm9SbFBFUmhUc2lzQW5GNUZya1RNMmNVRTZjaXo5QS1STUVwS0tCSWtGX2pVMUhDTDJtY0hxN0c2TVd4SVhoM0VialMzc2F2a1MtV21qcVJ6ejRyT1BTYTE3bllHWmh1cHAteFRVNkhkcTlzdXlHMFZTNTFxU3FhazdmdkRvWHltZE5xUkVKSnNzRnp5ank4a3pvNTVZTGc4bzQtZ1A0NVluY1lRMmV0S05nN3hlY0pZcjJxYzdRSTZlT1FaTVBXd0VqS01Gd2wzeVFKQlpGcEtGa2VMcG5YNmxabDJoalBnN0JaMUF4LTgwNVNwcUVOSHR5RF9tcjJoMjhDRzVFcXZtU1VWbnRpVEZ1Q1hWbnI1Q3BIU1JCTkRudGhYcGI4alZVYWZsR2hfR1J5UEJMbmdpc1Q4akRKSUNzSGY0bEY1bVJMc0pucVhVdENtc3puendHb1FUZi1EYWdsVnQtNHBSeVpVOTR3YXZHT3QxVkZKWWU3eE9YVzFLUWV0TXR3ZTJPR3pJNjZSSWdJZkd4dmtHTjU5enlqSlN3TTQxbnNCRmhkaUlON3dmQjdfbmhXS1RLWEd2YzY5N29VaDFWdUh5Ump6V3dmNlpSUHZOX2l5d3lERG1saFJDdlhSVGVtZ09JOWNpUkdPU01PaEd2VFJTVGFTel9wSF9DQzd0UU0tWEhSQm82c1Q5YWdpZ2VGU2FOcWNsT0VCRjlYV29GcDM4dHJJOFhZVjVOSE8zdU5CMFUzMVROc2xxSkUxdGZ2Vk1hUGRlR2E0MGdadHBvM25HWHBLelZOeThOTWtmZkNQV2VCNEVET3h0U0hGenFuR09GaUFFb3ZQMGZoQWNWX21IdnFTRzdBTTVwd2MuS0ZNOE1kV2FrU2xFVlVQWVphZnZrdw%3D%3D.JinzzH71-UdVmq_3SFdCM9nes_QtiMeILyjQEWdjK-T90WhdoEGohIGo04tDn-X6pMb6bsOfAWx9AGaepiKmTw'

signkeyStr = 'SlyEKSqk__xoYaco7LJ4qm38qPMLONzrw4ZpZVDGY2okVUWARNkS6-9fzF038vTN83liE3BdsLIWRJ-n6wg3xQ'
enckeyStr = '76pR4SIQNxmcPClw-lerBYZUR2Wd0wylodVn5NplsXI'

signKey = jwk.JWK(kty='oct', k=signkeyStr)
encKey = jwk.JWK(kty='oct', k=enckeyStr)

jwsToken = jws.JWS()
jwsToken.deserialize(token, key=signKey)

jweToken = jwe.JWE()
jweToken.deserialize(jwsToken.payload, key=encKey)

payload = jweToken.payload

print(payload)


Error snippet:

  File "/usr/local/Cellar/python/3.7.1/Frameworks/Python.framework/Versions/3.7/lib/python3.7/json/__init__.py", line 348, in loads
    return _default_decoder.decode(s)
  File "/usr/local/Cellar/python/3.7.1/Frameworks/Python.framework/Versions/3.7/lib/python3.7/json/decoder.py", line 337, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
  File "/usr/local/Cellar/python/3.7.1/Frameworks/Python.framework/Versions/3.7/lib/python3.7/json/decoder.py", line 355, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)


Sorry, just noticed the last two "=" chars in payload got translated to html entity values. Please replace %3D%3D with ==


This is what I get:
```
>>> jwsToken.deserialize(token, key=signKey)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python3.7/site-packages/jwcrypto/jws.py", line 344, in deserialize
    self.verify(key, alg)
  File "/usr/lib/python3.7/site-packages/jwcrypto/jws.py", line 284, in verify
    'signatures' + repr(self.verifylog))
jwcrypto.jws.InvalidJWSSignature: Verification failed for all signatures['Failed: [InvalidJWSSignature("Verification failed {InvalidSignature(\'Signature did not match digest.\')}")]']
```

Are you sure you coped the token right ?

note that the payload decrypts correctly, so I assume the token is malformed and makes the signature verification fail.
I am not sure about the error you get, it is not in jwcrypto, sounds like you are trying to json decode input that is not json.

I have this working in java, based on the example given by the CAS folks.  Copying the token from this github post and testing, yes, sign validates and payload is then decrypted correctly using JOSE libs for java.

Output of java program:

2018-12-07 14:25:59 DEBUG MyAuthFilter:134 - Sign string: SlyEKSqk__xoYaco7LJ4qm38qPMLONzrw4ZpZVDGY2okVUWARNkS6-9fzF038vTN83liE3BdsLIWRJ-n6wg3xQ
2018-12-07 14:25:59 DEBUG MyAuthFilter:135 - Encryption string: 76pR4SIQNxmcPClw-lerBYZUR2Wd0wylodVn5NplsXI
Payload: {"sub":"jc0040","mail":"jc0040@uah.edu","eduPersonAffiliation":"STUDENT","displayName":"Joe","iss":"https:.........................



Java code:

			    signStr = "SlyEKSqk__xoYaco7LJ4qm38qPMLONzrw4ZpZVDGY2okVUWARNkS6-9fzF038vTN83liE3BdsLIWRJ-n6wg3xQ";
			    encStr = "76pR4SIQNxmcPClw-lerBYZUR2Wd0wylodVn5NplsXI";

			    encodedJwt = "eyJhbGciOiJIUzUxMiJ9.ZXlKNmFYQWlPaUpFUlVZaUxDSmhiR2NpT2lKa2FYSWlMQ0psYm1NaU9pSkJNVEk0UTBKRExVaFRNalUySW4wLi5XZFJILXdrX1lsakR5QUxhUlVJenZBLnRfVjJIMF9ieGM2ZEpUTG8zeGhMc3UxWmRlZDNuc2ExVGlnZDFyeXVHbW5PZDRXM1QxeW02Mzl4cTRDaS1ULWhyMGRYWldLdnUxeHREV2RCdGFHN0ZYOFN1anVkQVU4UVZjSVV3SVhxc1Q2U0FwNXY0VXVnc3hiNVBORTdLVTYyaGJUNVE2TzdHMFhEN3NlU21mamhnbEI0Mk9yemlxUkNpazlYM3FoWkRIcEEycFdhRXEtMUl5NTJLX1JGQmI4eXdQeGZIN0dGeEVBeVlGYkNJVk9SSklzWmpjamhLcFI3WXIwSHkxWUFpTWxUV2lURENCaG1jdncyTFpJYjBTUTFUbEZQX0hhLXcxRmlNRVlnUDQ4Rm83Z0JGbXNtUVJEajdCSkIzTUhFdE8tcmplbUV1NzNzVHZkMXlody1XdEl5dV9lam43TFBxWV9pT0R6Y2ZRWXJFb3pSbnFwMmV6Wk9mVXd6U0N5eFNsQUU0QTZmYlNST0ZzSkVWR2tMby03OUhLTU43NWJRdmh0T0h3djBHUDFuS3VrYnNlRXlKVThfODQ3Y3BmdXRDLUZWY2J1ci1QczMzMmkzeERrckltaE41bEVFOGhpNHFFNGtKUWRwRWtWZXJ5dzZnekRRQlNMMEhqWDh2Tm51eGF2cUFaNFVzQ193ZEN3dUlpc0Y1RE4tYUZzUkxQSlMyWThJZXJIdnFfdklhSWtDRnhlNzY4TEdlSHNsNDVlTWpzSmNZNU1ObGZWLTV1d01pOUFlenR6LUdiS0taMlRrMy1RZkRXYmJlaG42bGZOcGt5Z20wYmVnYks1b1E5UUpGd29XMlk4eUgtWEgwdjVBNXpYTlVJQjBFeGhHampiQk1QandEZmNjaTdTd28yb29Md1B0bWZJemNqU3FVUzVld2ljeWFzWDBXa0FJTHd0WmJlMFdJQ2NQQUpLaHJNY212ZHRtSmUwc3RDcEc5aWozUlRtMUxLaHVWSHZ2Q0ZIcVlCR25XNE9mLXBwSGkzRW1pV3h1UnFEZ2QxdnFtOUJBbGRWNnJ6LWYzQzh3eUczSTQxbGpfZTJKMFc1QXNwdHRwNXVKeEEyb2hzcDVudjdSeF9hc1BnLXM4cFhiTUJ1d3NfaEExbTlTLTY5ZXlYQmVxaVRvRnZVNU9VYjdNSVREN3dvLlRNdlVRSFZfdzFoNWZ0VFprSGZpblE=.IfydG2w4q3zt4N60fUKUmnRqA4wph0zl5i-s0_I5lA91MZZq-cLnj7IfyVka51Cz7Sk9ucmkjWag8RR9flG07w";

log.debug("Sign string: " + signStr);
log.debug("Encryption string: " + encStr);

access = jwtDecoder.getjsonPayloadFromJWT(signStr, encStr, encodedJwt);
..........

public MyApiAccess getjsonPayloadFromJWT(String signKeyStr, String encKeyStr, String secureJwt)
	    throws MyJwtValidateException {

	JsonWebSignature jws = validateJsonSignature(signKeyStr, secureJwt);

         // if we got here without throwing exception, signature is valid, now unpack payload
	    byte[] decodedBytes = b64Decoder.decode(jws.getEncodedPayload().getBytes(StandardCharsets.UTF_8));

	    String decodedPayload = new String(decodedBytes, StandardCharsets.UTF_8);
	    JsonWebEncryption jwe = new JsonWebEncryption();
	    JsonWebKey jsonWebKey;
	    try {
		jsonWebKey = JsonWebKey.Factory
			.newJwk("{\"kty\":\"oct\",\n" + " \"k\":\"" + encKeyStr + "\"\n}");

		jwe.setCompactSerialization(decodedPayload);
		jwe.setKey(new AesKey(jsonWebKey.getKey().getEncoded()));

		log.debug("Payload: " + jwe.getPlaintextString());
..................


    private JsonWebSignature validateJsonSignature(String signKeyStr, String jwtString) throws MyJwtValidateException {

	Key key = new AesKey(signKeyStr.getBytes(StandardCharsets.UTF_8));
	JsonWebSignature jws = new JsonWebSignature();

	try {
	    jws.setCompactSerialization(jwtString);
	} catch (JoseException e) {
	    throw new MyJwtValidateException(e.getMessage());
	}

	jws.setKey(key);

	try {	    
	    if (!jws.verifySignature())
		throw new MyJwtValidateException("JWS signature validation failed");
	} catch (JoseException e) {
	    throw new MyJwtValidateException("JWT signature verification error: " + e.getMessage());
	}

	return (jws);
    }



Just to verify signature was indeed being checked, I prepended four a's to the beginning of the signkeyStr and got the expected "Invalid signature" with the java code.

2018-12-07 15:06:06 DEBUG MyAuthFilter:134 - Sign string: aaaaSlyEKSqk__xoYaco7LJ4qm38qPMLONzrw4ZpZVDGY2okVUWARNkS6-9fzF038vTN83liE3BdsLIWRJ-n6wg3xQ

2018-12-07 15:06:06 DEBUG MyAuthFilter:135 - Encryption string: 76pR4SIQNxmcPClw-lerBYZUR2Wd0wylodVn5NplsXI

2018-12-07 15:06:06 INFO  MyAuthFilter:140 - JWT validation failed: JWS signature validation failed


For config files it's a string, but I have to pass bytes to the Jose AesKey object's constructor.  The signing key string was generated in the CAS project.  I assume it's bytes in cas and displayed on screen(startup logs) as a string to make it easy to store in cas.properties file as well as use with clients.

My code is get string as bytes to pass to AesKey constructor:
    Key key = new AesKey(signKeyStr.getBytes(StandardCharsets.UTF_8));

From Jose:

package org.jose4j.keys;
import org.jose4j.lang.ByteUtil;
import javax.crypto.spec.SecretKeySpec;

public class AesKey extends SecretKeySpec
{
    public static final String ALGORITHM = "AES";

    public AesKey(byte[] bytes)
    {
        super(bytes, ALGORITHM);
    }
......


Just to be clear, the signing key string, encryption key string, and jwt itself were all generated by CAS, not my java code.  I am only trying to validate and parse what CAS is generating.


```
import org.apache.commons.codec.binary.Base64;
import org.jose4j.jwe.JsonWebEncryption;
import org.jose4j.jwk.JsonWebKey;
import org.jose4j.jws.JsonWebSignature;
import org.jose4j.keys.AesKey;

import java.nio.charset.StandardCharsets;
import java.security.Key;

...

final String signingKey = "...";
final String encryptionKey = "...";

final Key key = new AesKey(signingKey.getBytes(StandardCharsets.UTF_8));

final JsonWebSignature jws = new JsonWebSignature();
jws.setCompactSerialization(secureJwt);
jws.setKey(key);
if (!jws.verifySignature()) {
    throw new Exception("JWT verification failed");
}

final byte[] decodedBytes = Base64.decodeBase64(jws.getEncodedPayload().getBytes(StandardCharsets.UTF_8));
final String decodedPayload = new String(decodedBytes, StandardCharsets.UTF_8);

final JsonWebEncryption jwe = new JsonWebEncryption();
final JsonWebKey jsonWebKey = JsonWebKey.Factory
    .newJwk("\n" + "{\"kty\":\"oct\",\n" + " \"k\":\"" + encryptionKey + "\"\n" + "}");

jwe.setCompactSerialization(decodedPayload);
jwe.setKey(new AesKey(jsonWebKey.getKey().getEncoded()));
System.out.println(jwe.getPlaintextString());
```


You are using a HS512 signature, this is HMAC, not AES, so I do not understand whay you would call an AES related function. I also do not know your Java library so I do not know if the AesKey function wil turn the input string into something different, but that would be my guess.
The other option is that this CAS thing is performing HS512 signatures incorrectly.

When you do:
```
Key key = new AesKey(signKeyStr.getBytes(StandardCharsets.UTF_8));
```
and you print the output of key.getBytes() does it differ from signKeyStr.getBytes() ?
if that's the case then your sgning key is the output of the AesKey not what you have named signKeyStr.

If they differ please provide the output here base64 encoded

Turns out the python-jose is able to validate the signature.  Perhaps it's doing something a bit differently.  The below prints the payload bytes when signature is valid, and throws exception when not.

`import base64
from jose import jws, jwt, jwk

token = 'eyJhbGciOiJIUzUxMiJ9.ZXlKNmFYQWlPaUpFUlVZaUxDSmhiR2NpT2lKa2FYSWlMQ0psYm1NaU9pSkJNVEk0UTBKRExVaFRNalUySW4wLi5XZFJILXdrX1lsakR5QUxhUlVJenZBLnRfVjJIMF9ieGM2ZEpUTG8zeGhMc3UxWmRlZDNuc2ExVGlnZDFyeXVHbW5PZDRXM1QxeW02Mzl4cTRDaS1ULWhyMGRYWldLdnUxeHREV2RCdGFHN0ZYOFN1anVkQVU4UVZjSVV3SVhxc1Q2U0FwNXY0VXVnc3hiNVBORTdLVTYyaGJUNVE2TzdHMFhEN3NlU21mamhnbEI0Mk9yemlxUkNpazlYM3FoWkRIcEEycFdhRXEtMUl5NTJLX1JGQmI4eXdQeGZIN0dGeEVBeVlGYkNJVk9SSklzWmpjamhLcFI3WXIwSHkxWUFpTWxUV2lURENCaG1jdncyTFpJYjBTUTFUbEZQX0hhLXcxRmlNRVlnUDQ4Rm83Z0JGbXNtUVJEajdCSkIzTUhFdE8tcmplbUV1NzNzVHZkMXlody1XdEl5dV9lam43TFBxWV9pT0R6Y2ZRWXJFb3pSbnFwMmV6Wk9mVXd6U0N5eFNsQUU0QTZmYlNST0ZzSkVWR2tMby03OUhLTU43NWJRdmh0T0h3djBHUDFuS3VrYnNlRXlKVThfODQ3Y3BmdXRDLUZWY2J1ci1QczMzMmkzeERrckltaE41bEVFOGhpNHFFNGtKUWRwRWtWZXJ5dzZnekRRQlNMMEhqWDh2Tm51eGF2cUFaNFVzQ193ZEN3dUlpc0Y1RE4tYUZzUkxQSlMyWThJZXJIdnFfdklhSWtDRnhlNzY4TEdlSHNsNDVlTWpzSmNZNU1ObGZWLTV1d01pOUFlenR6LUdiS0taMlRrMy1RZkRXYmJlaG42bGZOcGt5Z20wYmVnYks1b1E5UUpGd29XMlk4eUgtWEgwdjVBNXpYTlVJQjBFeGhHampiQk1QandEZmNjaTdTd28yb29Md1B0bWZJemNqU3FVUzVld2ljeWFzWDBXa0FJTHd0WmJlMFdJQ2NQQUpLaHJNY212ZHRtSmUwc3RDcEc5aWozUlRtMUxLaHVWSHZ2Q0ZIcVlCR25XNE9mLXBwSGkzRW1pV3h1UnFEZ2QxdnFtOUJBbGRWNnJ6LWYzQzh3eUczSTQxbGpfZTJKMFc1QXNwdHRwNXVKeEEyb2hzcDVudjdSeF9hc1BnLXM4cFhiTUJ1d3NfaEExbTlTLTY5ZXlYQmVxaVRvRnZVNU9VYjdNSVREN3dvLlRNdlVRSFZfdzFoNWZ0VFprSGZpblE=.IfydG2w4q3zt4N60fUKUmnRqA4wph0zl5i-s0_I5lA91MZZq-cLnj7IfyVka51Cz7Sk9ucmkjWag8RR9flG07w'

signkeyStr = 'SlyEKSqk__xoYaco7LJ4qm38qPMLONzrw4ZpZVDGY2okVUWARNkS6-9fzF038vTN83liE3BdsLIWRJ-n6wg3xQ'
enckeyStr = '76pR4SIQNxmcPClw-lerBYZUR2Wd0wylodVn5NplsXI'

payload = jws.verify(token, signkeyStr, algorithms=['HS512'])
print(payload)`


Can you try with jwt.io ?
I tried to plug your signing key and token, and it won't work there either.
I looked at python-jose but it is not clear if it encodes the string you pass in some odd way or not.

I get invalid signature there, as you do. But I'm not sure what backend library they are using.  If I use this alternate site, I get "signature is valid".  https://devtoolzone.com/decoder/jwt

<img width="887" alt="screen shot 2018-12-13 at 9 02 18 am" src="https://user-images.githubusercontent.com/38042524/49947035-d91ea500-feb5-11e8-804e-f7dba4d13308.png">


Ok after much fiddling I think I know what is the issue.
The JWt you generated is not standards complaints.
Specifcially somehwere in the process your tools use regular base64 engoding instead of base64**URL** ecoding.
This results in the JWS payload having a trailing '=' sign that should not be there.
That additional character fo course changes the signature. And will not validate properly in an implementation that properly uses bas64url encoding when the implementation internally deserialize and transforms the payload from base64-> binary and back to base64url.

You are using an implementation that is producing broken tokens.

See also that, although the above tool you found was able to verify the signature, it had issues showing the JWT body, probably because that implementation does not transform the body for signature verification, but of course needs to do it for deserialization.

You should opena  abug against CAS, they need to follow RFC7515 point 2:

   Base64url Encoding
      Base64 encoding using the URL- and filename-safe character set
      defined in Section 5 of RFC 4648 [RFC4648], with all trailing '='
      characters omitted (as permitted by Section 3.2) and without the
      inclusion of any line breaks, whitespace, or other additional
      characters.  Note that the base64url encoding of the empty octet
      sequence is the empty string.  (See Appendix C for notes on
      implementing base64url encoding without padding.)

It seems they are not, and all they really need to do is to remove the trialing '=' at the end before applying the signature.

Hello Simo,

First, again, I want to thank you for your time and effort for both the jwcrypto lib and working with me on this issue.

I get what you are saying, base64 vs. base64url encoding.  But I admit that I am perplexed that I can successfully verify the signature using the jose libs in two different languages, python or java.  Are you saying the jose implementation is broken somehow??  In java I can extract the encrypted payload as well.  Which, the payload being encrypted(jwe) is why I suspect the online tools can't extract the payload.  And perhaps failing to unpack payload shows up as signature invalid at jwt.io.

The CAS software shows the base64 jwt in the server logs, but in the url parameter in a browser the jwt is base64 urlencoded.  However, when I use that value with the jose libs it will not validate.


There reason you can verify is that these two libraries are note decoding and re-encoding the payload, so they are getting the string produced by the broken implementation as is, and that works.

My implementation (and I guess jwt.io) instad decode and re-encode the payload before doing verification, so on the way back the payload is different (properly encoded it laks the terminating '=' you have) and therefore the signature cannot match (the payload is different).

The CAS software is broken if it uses a base64 instad of base64url encoded payload.